In [1]:
import pandas as pd

---

## I- Importation des données

In [4]:
random = pd.read_csv("../Data/student_all_community_randomweights.csv")
xgb = pd.read_csv("../Data/student_all_community_xgbweights.csv")

In [6]:
print(f"Random optimized weights: {random.shape}")
print(f"XGBosst optimized weights: {xgb.shape}")

Random optimized weights: (1046, 37)
XGBosst optimized weights: (1046, 37)

In [7]:
random.head(3)

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Walc,health,absences,G1,G2,G3,course,alc,Name,Community
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,1,3,6,5,6,6,mat,2,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,1,3,4,5,5,6,mat,2,1,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,3,10,7,8,10,mat,5,2,0

In [8]:
xgb.head(3)

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Walc,health,absences,G1,G2,G3,course,alc,Name,Community
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,1,3,6,5,6,6,mat,2,0,1
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,1,3,4,5,5,6,mat,2,1,1
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,3,10,7,8,10,mat,5,2,1