In [9]:
import pandas as pd
import numpy as np

---

## I- Importation des données

In [2]:
random = pd.read_csv("../Data/student_all_community_randomweights.csv")
xgb = pd.read_csv("../Data/student_all_community_xgbweights.csv")

In [3]:
print(f"Random optimized weights: {random.shape}")
print(f"XGBosst optimized weights: {xgb.shape}")

Random optimized weights: (1046, 37)
XGBosst optimized weights: (1046, 37)

In [16]:
random_numeric_cols = random.select_dtypes(include=[np.number]).columns.tolist()
random_non_numeric_cols = random.select_dtypes(exclude=[np.number]).columns.tolist()
xgb_numeric_cols = xgb.select_dtypes(include=[np.number]).columns.tolist()
xgb_non_numeric_cols = xgb.select_dtypes(exclude=[np.number]).columns.tolist()

In [4]:
random.head(3)

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Walc,health,absences,G1,G2,G3,course,alc,Name,Community
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,1,3,6,5,6,6,mat,2,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,1,3,4,5,5,6,mat,2,1,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,3,10,7,8,10,mat,5,2,0

In [5]:
xgb.head(3)

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Walc,health,absences,G1,G2,G3,course,alc,Name,Community
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,1,3,6,5,6,6,mat,2,0,1
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,1,3,4,5,5,6,mat,2,1,1
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,3,10,7,8,10,mat,5,2,1

In [26]:
random_grouped_df = random.drop(columns=random_non_numeric_cols).groupby('Community')
random_stats = random_grouped_df.agg(['mean']).round(2)

In [23]:
random_stats

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc,Name
,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
Community,,,,,,,,,,,,,,,,,,
0,15.75,2.98,2.59,1.41,1.98,0.17,4.10,3.25,2.78,1.24,1.98,3.66,3.27,11.27,12.07,12.32,3.22,338.69
1,17.00,2.52,2.55,1.24,1.77,0.14,3.94,2.87,3.07,1.51,2.61,3.30,7.18,11.44,12.23,12.69,4.11,521.68
2,15.89,2.39,2.28,1.70,1.72,0.56,3.65,3.33,3.05,1.56,2.23,3.89,3.23,10.25,9.42,9.00,3.79,440.44
3,17.58,2.54,2.50,1.42,2.48,0.08,4.02,3.35,3.62,1.73,2.48,3.62,3.27,11.92,11.79,11.67,4.21,590.67
4,16.13,2.33,2.62,1.33,1.82,0.40,3.93,3.40,2.98,1.24,1.76,3.80,4.47,11.44,11.58,11.87,3.00,421.62
5,15.27,3.14,3.16,1.25,2.10,0.05,3.98,3.27,2.73,1.32,1.67,3.89,4.60,12.03,12.51,12.62,2.98,256.59
6,17.88,2.65,2.30,1.30,2.30,0.05,3.92,3.08,3.30,1.42,2.00,2.98,5.25,11.68,11.65,11.70,3.42,504.20
7,16.93,3.07,2.68,1.51,2.11,0.16,3.77,2.98,3.37,1.33,2.19,3.37,2.19,12.32,11.98,11.79,3.53,504.70
8,17.21,2.43,2.04,1.62,1.64,0.36,4.02,3.23,3.32,1.49,2.62,3.89,4.77,10.45,10.60,10.53,4.11,508.34
9,15.52,3.07,2.32,1.38,2.30,0.16,3.84,3.25,3.15,1.68,2.42,3.66,3.96,11.53,11.44,11.63,4.11,258.19
10,15.62,3.03,2.49,1.32,2.19,0.11,4.11,3.14,3.49,1.49,2.30,3.03,4.32,10.92,11.30,11.35,3.78,294.59
11,17.19,2.53,2.27,1.58,1.90,0.19,3.92,3.11,3.24,1.29,2.24,3.63,7.31,12.50,12.06,12.50,3.53,550.89
12,17.00,2.67,2.42,1.37,2.02,0.37,3.70,3.28,3.37,1.51,2.56,3.40,7.56,9.98,10.23,10.56,4.07,514.91
13,16.43,1.93,2.07,1.96,1.39,1.07,4.04,3.25,3.25,1.57,2.96,3.64,4.14,9.71,9.11,9.18,4.54,397.57
14,18.00,2.85,2.67,1.24,2.19,0.30,4.17,3.24,3.17,1.41,2.22,3.63,6.65,12.24,12.26,12.44,3.63,566.48
15,16.98,2.42,2.12,1.54,2.13,0.23,3.90,3.15,2.85,1.54,2.29,3.37,5.63,11.81,11.33,11.56,3.83,543.87
16,17.71,2.14,2.26,2.05,1.85,0.36,3.74,3.30,3.18,1.53,2.18,3.44,2.71,10.80,10.74,10.65,3.71,725.24
17,17.69,2.74,2.40,1.76,1.74,0.36,4.10,3.00,3.12,1.83,2.66,3.50,3.33,9.86,10.38,9.76,4.48,793.45
18,16.77,1.83,1.72,1.89,1.91,0.26,3.87,3.26,3.06,1.57,2.15,3.23,1.83,10.53,10.34,10.81,3.72,917.64
19,15.70,2.60,2.00,2.00,1.90,0.00,4.50,3.30,3.90,1.90,2.70,3.70,3.70,9.90,10.30,10.40,4.60,838.50
20,16.59,2.07,1.76,1.76,1.45,0.59,4.07,3.48,3.38,1.62,2.52,3.72,2.17,10.00,9.86,10.14,4.14,918.72

In [32]:
xgb_grouped_df = xgb.drop(columns=xgb_non_numeric_cols).groupby('Community')
xgb_stats = xgb_grouped_df.agg(['mean']).round(2)

In [33]:
xgb_stats

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc,Name
,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
Community,,,,,,,,,,,,,,,,,,
0,17.12,2.16,2.05,1.85,1.78,0.35,3.89,3.23,3.23,1.59,2.34,3.41,2.83,10.38,10.47,10.53,3.93,839.27
1,16.53,2.80,2.55,1.39,2.06,0.32,3.95,3.23,3.12,1.45,2.27,3.58,5.98,10.94,10.79,10.50,3.72,174.50
2,16.62,2.68,2.39,1.39,2.08,0.14,4.02,3.06,3.04,1.44,2.23,3.70,4.09,11.95,12.18,12.59,3.68,603.70
3,16.72,2.78,2.57,1.47,1.94,0.22,3.87,3.27,3.27,1.50,2.31,3.48,4.36,12.03,12.10,12.56,3.81,608.69