In [1]:
import pandas as pd

---

## I- Importation des données

In [2]:
data = pd.read_csv("../Data/student_all_community.csv")

In [3]:
data.head()

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Walc,health,absences,G1,G2,G3,course,alc,Name,Community
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,1,3,6,5,6,6,mat,2,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,1,3,4,5,5,6,mat,2,1,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,3,10,7,8,10,mat,5,2,0
3,GP,F,15,U,GT3,T,4,2,health,services,...,1,5,2,15,14,15,mat,2,3,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,5,4,6,10,10,mat,3,4,0