In [30]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_csv("./Data/student_all.csv")

In [14]:
data.head(10)

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,course
0,0,GP,F,18,U,GT3,A,4,4,at_home,...,3,4,1,1,3,6,5,6,6,mat
1,1,GP,F,17,U,GT3,T,1,1,at_home,...,3,3,1,1,3,4,5,5,6,mat
2,2,GP,F,15,U,LE3,T,1,1,at_home,...,3,2,2,3,3,10,7,8,10,mat
3,3,GP,F,15,U,GT3,T,4,2,health,...,2,2,1,1,5,2,15,14,15,mat
4,4,GP,F,16,U,GT3,T,3,3,other,...,3,2,1,2,5,4,6,10,10,mat
5,5,GP,M,16,U,LE3,T,4,3,services,...,4,2,1,2,5,10,15,15,15,mat
6,6,GP,M,16,U,LE3,T,2,2,other,...,4,4,1,1,3,0,12,12,11,mat
7,7,GP,F,17,U,GT3,A,4,4,other,...,1,4,1,1,1,6,6,5,6,mat
8,8,GP,M,15,U,LE3,A,3,2,services,...,2,2,1,1,1,0,16,18,19,mat
9,9,GP,M,15,U,GT3,T,3,4,other,...,5,1,1,1,5,0,14,15,15,mat

In [15]:
data.shape

(1044, 35)

In [16]:
data.columns

Index(['Unnamed: 0', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3',
       'course'],
      dtype='object')

In [17]:
data.drop(columns = 'Unnamed: 0', inplace = True)

In [18]:
data_vec = data.to_numpy()
data_vec

array([['GP', 'F', 18, ..., 6, 6, 'mat'],
       ['GP', 'F', 17, ..., 5, 6, 'mat'],
       ['GP', 'F', 15, ..., 8, 10, 'mat'],
       ...,
       ['MS', 'F', 18, ..., 12, 9, 'por'],
       ['MS', 'M', 17, ..., 10, 10, 'por'],
       ['MS', 'M', 18, ..., 11, 11, 'por']], dtype=object)

In [35]:
if 0 < data['absences'] < 11 :
    data['absences'] = 1

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [31]:
np.dtype(data['absences'])

dtype('int64')